@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Protest+Revolution&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syne:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
}

header{
    background-color: #000;
    padding: 30px 0 30px 0;
    gap: 20px;
}

header h1{
    color: #F0EEE9;
    text-align: center;
    margin-bottom: 15px;
    cursor: default;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar a {
    position: relative;
    text-decoration: none;
    color: #F0EEE9;
    border: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 0 10px;
    font-weight: 500;
    padding-bottom: 10px;
}

.navbar a::before,.navbar a::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background-color:#D8E63C;
    transition: all 0.3s ease;
}

.navbar a:after {
    left: 0;
    bottom: -3px;
}

.navbar a:before {
    right: 0;
    top: -10px;
}

a:hover::after, a:hover::before{
    width: 100%;
}

.container{
    display: flex;
    height: 100vh;
}

.sidebar{
    width: 50%;
    display: flex;
}

.sidebar img{
    object-fit: cover;
    width: 100%;
}

.sidebar h1{
    position: absolute;
    color: #fff;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    translate: 25% 90%;
    cursor: default;
    transition: all 0.4s ease;
}

.sidebar h1:hover{
    transform: scale(1.1);
    text-shadow: 2px 2px 4px rgba(16, 38, 0, 0.5);
    color: #D8E63C;
}

.item{
    width: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px 0px 30px 0;
    align-items: center;
    justify-content: center;
    gap: 40px;
    overflow-x: hidden;
}

.item .content #box{
    display: flex;
    border: 1px solid #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    padding: 10px;
    height: auto;
    border-radius: 50px;
    overflow: hidden;
    width: 700px;
    transition: all 0.3s ease;
}

.item .content #box:hover{
    background-color: #000;
    color: #fff;
    box-shadow: #D8E63C 5px 5px;
}

.item #box .box-left img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #9b9b9b;
}

.item #box .box-left h5{
    font-size: 16px;
}

.item #box .box-left {
    width: 159px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8.5px;
    padding: 10px;
    margin-top: 10px;
    border-right: 2px solid #989898;
}

.item #box .box-right{
    width: 500px;
    height: 150px;
    display: flex;
    padding: 0px 25px 0px 30px;
    align-items: center;
    justify-content: center;
}

footer{
    background-color: #000;
    padding: 10px 0;
    text-align: center;
    color: #F0EEE9;
    position: relative;
    bottom: 0;
    width: 100%;
}