@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Protest+Revolution&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syne:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
}

/* html {
    scroll-behavior: smooth;
} */

body { /*background */
    background-color: #f5f3f2;
}

.Ourjourney { /* จัดตำแหน่งทั้งหน้า */
    display: flex;
    flex-direction: column;
    margin: auto;
}

header{ /* หัวข้อ */
    background-color: #000;
    padding: 30px 0 30px 0;
    gap: 20px;
}

header h1{ /* หัวข้อ */
    color: #F0EEE9;
    text-align: center;
    margin-bottom: 15px;
    cursor: default;
}

.navbar{ /* แถบ bar */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar a { /* แถบ bar */
    position: relative;
    text-decoration: none;
    color: #F0EEE9;
    border: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 0 10px;
    font-weight: 500;
    padding-bottom: 10px;
}

.navbar a::before,.navbar a::after { /* แถบ bar */
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background-color:#D8E63C;
    transition: all 0.3s ease;
}

.navbar a:after { /* แถบ bar */
    left: 0;
    bottom: -3px;
}

.navbar a:before { /* แถบ bar */
    right: 0;
    top: -10px;
}

a:hover::after, a:hover::before{ /* แถบ bar */
    width: 100%;
}

.allpic{ /* รูปรวม */
    display: flex;
    justify-content: center;
    align-items: center;
}

.allpic img{ /* รูปรวม */
    width: 100%;
}

.classbox { /* กล่อง journey */
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-between; 
    margin: auto;
    padding: 10px;
}

.box { /* กล่อง journey */
    background-color: #ffffff;
    border: 2.5px solid #000000;
    color: rgb(0, 0, 0);
    border-radius: 23%;
    text-align: left;
    padding: 30px;
    font-size: 18px;
    flex: 1 1 calc(50% - 10px);
    box-sizing: border-box; 
    width: 340px;
    height: 500px;
    transition: background 0.5s ease;
    position: relative;
    overflow: hidden;
}

.box h3{ 
    font-size: 30px;
    line-height: 2;
    margin-top: 40px;
    margin-left: 10px;
}

.box p{
    font-family: "Prompt", sans-serif;
    font-size: 18px;
    margin-left: 10px;
}

.box:hover{
    background-color: #D3DDE7;
    border-right: 6px solid black;
    border-bottom: 7px solid black;
}

@keyframes bounceIn { /* ขยับกล่อง journey */
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    50% {
        transform: translateY(-10px);
        opacity: 0.7;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.box {
    opacity: 0; /* ซ่อนในตอนแรก */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.box.visible {
    animation: bounceIn 1.5s ease-out;
    opacity: 1;
}

footer { /* footer */
    background-color: #000;
    padding: 10px 0;
    text-align: center;
    color: #F0EEE9;
    position: relative;
    bottom: 0;
    width: 100%;
}